# APP CONFIG
APP_ENV=<local/development/production/testing/staging>

# MYSQL CONFIG
DB_ROOT_PASSWORD=<recommended: root>
DB_NAME=<e.g: php_docker>
DB_USER=<e.g: my_username>
DB_PASSWORD=<e.g: my_password>
DB_PORT=<default: 3306>

# PHPMYADMIN
PMA_PORT=<default: 8080>